<h1  class="blog-title">
		Goa Property Blog
		<div class='blog-header-link'>
					
			<a href="/blog/<%= :categories %>/<%= :news %>" >News</a>
			<a href="/blog/<%= :categories %>/<%= :articles %>" >Articles</a>
			<a href="/blog/<%= :categories %>/<%= :knowledge %>" >Knowledge</a>
		</div>
</h1>