<div class="col-md-8" id="form-fields">
	<% fieldset(:property) do |f| %>
	
	
	
	<div class="row form-group">	
		<div class="col-md-4">
			<%= f.hidden :id, :value => @property.id %>
			<%= f.input :title, :value => @property.title, :class => "form-control" %>
		</div>
		
		<div class="col-md-8">						
			<select class="select2 type-select" data-demo="#demo-type-name" name="property[type_id]" id="type_id" data-selected="<%= @property.type.id if @property.type %>">
				<% @types.each do |type| %>
					<option value="<%= type.id %>"><%= type.name %></option>
				<% end %>
			</select>
			
			<span class="mid-select">in</span>
			
			<select class="select2 location-select" data-demo="#demo-location" name="property[location_id]" id="location_id" data-selected="<%= @property.location.id if @property.location %>">
				<% @locations.each do |location| %>
					<option value="<%= location.id %>"><%= location.name %></option>
				<% end %>
			</select>
		</div>
	</div>
	
	<div class="row form-group">
		<div class="col-md-4">
			<%= f.label :state_id, "Mode" %>
			<select class="select2 state-select" data-demo="#demo-state" name="property[state_id]" id="state_id" data-selected="<%= @property.state.id if @property.state %>">
				<% @states.each do |state| %>
					<option value="<%= state.id %>"><%= state.name %></option>
				<% end %>
			</select>
		</div>
		
		<div class="col-md-4">
			<%= f.label :category_id, "Property Type" %>
			<select class="select2" name="property[category_id]" id="category_id" data-selected="<%= @property.category.id if @property.category %>">
				<% @categories.each do |category| %>
					<option value="<%= category.id %>"><%= category.name %></option>
				<% end %>
			</select>
		</div>
		
		<div class="col-md-4">
			<%= f.label :price %>
			<%= f.input :price, :value => @property.price, :id => "price", :class => "form-control demo-control" %>
		</div>
	</div>
	
	<hr />

	<div class="form-group">
		<div class="row">
			<div class="col-md-4">			
				<%= f.label :area %>
				<%= f.input :area, :value => @property.area, :id => "area", :class => "form-control demo-control" %>
			</div>
			
			
			<div class="col-md-4">
				<%= f.label :area_built, "Area Built" %>
				<%= f.input :area_built, :value => @property.area_built, :id => "area_built", :class => "form-control" %>
			</div>
			
			<div class="col-md-4">
				<% if @property.is_premium %>
					<%= f.hidden :area_rate, :value => true %>
					<button class="btn btn-primary btn-checkbox btn-active" id="show-area-rate">
						<span class="glyphicon glyphicon-ok"></span> Show Area Rate
					</button>
				<% else %>
					<%= f.hidden :area_rate, :value => false %>
					<button class="btn btn-primary btn-checkbox btn-disabled" id="show-area-rate">
						<span class="glyphicon"></span> Show Area Rate
					</button>
				<% end %>
			</div>
		</div>
	</div>
	<hr />
	<div class="row form-group">
		<div class="col-md-4">
			<%= f.label :status, "Status" %>
			<%= f.select :status, { 
				"" => "Not Applicable", 
				"1" => "Re-sale", 
				"2" => "Ready Possession", 
				"3" => "Under Contruction" }, 
				:class => "select2",
				:"data-selected" => @property.status %>
		</div>
		
		<div class="col-md-4">
			<%= f.label :age, "Age" %>
			<%= f.select :age, {
				"" 					=> "Not Applicable",
				"Less than 1 Year" 	=> "Less than 1 Year",
				"1 to 5 Years" 		=> "1 to 5 Years",
				"5 to 10 Years" 	=> "5 to 10 Years",
				"10 to 15 Years" 	=> "10 to 15 Years",
				"15+ Years" 		=> "15+ Years"},
				:class 			=> "select2",
				:"data-selected" 	=> @property.age %>
		</div>
	</div>

	<div class="row form-group">
		<div class="col-md-4">			
			<%= f.label :bhk_count, "Bedrooms" %>
			<%= f.input :bhk_count, :value => @property.bhk_count, :class => "form-control" %>

		</div>
		
		<div class="col-md-4">
			<%= f.label :toil_attached, "Toilets (Attached)" %>
			<%= f.input :toil_attached, :value => @property.toil_attached, :class => "form-control" %>
		</div>
		
		<div class="col-md-4">
			<%= f.label :toil_attached, "Toilets (Non Attached)" %>
			<%= f.input :toil_nattached, :value => @property.toil_nattached, :class => "form-control" %>	
		</div>
	</div>

	<div class="row form-group">
		<div class="col-md-4">			
			<%= f.label :furnishing, "Furnishing" %>
			<%= f.select :furnishing, {
				"" 				=> "Not Applicable",
				"Unfurnished" 	=> "Unfurnished",
				"Semi" 			=> "Semi",
				"Basic" 		=> "Basic",
				"Furnished" 	=> "Furnished"},
				:class 			=> "select2",
				:"data-selected" 	=> @property.furnishing %>
		</div>
		
		<div class="col-md-4">
			<%= f.label :water, "Water Supply" %>
			<%= f.select :water, {
				""				=> "Not Applicable",
				"Well"			=> "Well",
				"Bore-Well"		=> "Bore-Well",
				"Municipality"	=> "Municipality"},
				:class			=> "select2",
				:"data-selected"	=> @property.water %>
		</div>
		
		<div class="col-md-4">
			<%= f.label :zone, "Zone" %>
			<%= f.select :zone, {
				""				=> "Not Applicable",
				"Settlement"	=> "Settlement",
				"Orchard"		=> "Orchard",
				"Agriculture"	=> "Agriculture"},
				:class			=> "select2",
				:"data-selected"	=> @property.zone %>
		</div>
	</div>

	<div class="row form-group">
		<div class="col-md-4">			
			<%= f.label :floor, "Floor" %>
			<%= f.input :floor, :value => @property.floor, :class => "form-control" %>
		</div>
		
		<div class="col-md-4">
			<%= f.label :lift, "Lift" %>
			<%= f.select :lift, {
				""				=> "Not Applicable",
				"false"			=> "No",
				"true"			=> "Yes"},
				:class			=> "select2",
				:"data-selected"	=> @property.lift %>
		</div>
		
		<div class="col-md-4">
			<%= f.label :sanad, "Sanad" %>
			<%= f.select :sanad, {
				""				=> "Not Applicable",
				"false"			=> "No",
				"true"			=> "Yes"},
				:class			=> "select2",
				:"data-selected"	=> @property.sanad %>
		</div>
	</div>

	<div class="row form-group">
		<div class="col-md-4">			
			<%= f.label :electricity, "Electricity" %>
			<%= f.select :electricity, {
				""				=> "Not Applicable",
				"1 Phase"		=> "1 Phase",
				"2 Phase"		=> "2 Phase",
				"3 Phase"		=> "3 Phase"},
				:class			=> "select2",
				:"data-selected"	=> @property.electricity %>
		</div>
		
		<div class="col-md-4">
			<%= f.label :view %>
			<%= f.input :view, :value => @property.view, :class => "form-control" %>	
		</div>
		
		<div class="col-md-4">
			<%= f.label :FSI %>
			<%= f.input :fsi, :value => @property.fsi, :class => "form-control" %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label :specs, "Facilities" %>
		<%= f.input :specs, :value => @property.specs, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.label :more_info, "More Information" %>
		<%= f.textarea :more_info, "#{@property.more_info}", { 
			:class 			=> "form-control" } %>
	</div>
	
	<div class="form-group">
		<%= f.label :field_notes, "Property Notes (Internal)" %>
		<%= f.textarea :field_notes, "#{@property.field_notes}", {:class => "form-control" } %>
	</div>
	
	
</div>

<div class="col-md-4 col-sm-6 col-xs-12 image-fields">

	
	
	<div class="form-group" id="property-state-controls">
		
		<% if @property.is_active %>
			<%= f.hidden :is_active, :value => true %>
			<button class="btn btn-primary btn-checkbox btn-active"><span class="glyphicon glyphicon-ok"></span> Active</button>
		<% else %>
			<%= f.hidden :is_active, :value => false %>
			<button class="btn btn-primary btn-checkbox btn-disabled"><span class="glyphicon"></span> Active</button>
		<% end %>
		
		<% if @property.is_premium %>
			<%= f.hidden :is_premium, :value => true, :id => "is_premium_field" %>
			<button class="btn btn-primary btn-checkbox btn-active">
				<span class="glyphicon glyphicon-ok"></span> Premium
			</button>
		<% else %>
			<%= f.hidden :is_premium, :value => false, :id => "is_premium_field" %>
			<button class="btn btn-primary btn-checkbox btn-disabled">
				<span class="glyphicon"></span> Premium
			</button>
		<% end %>
		
		<!-- Single button -->
		<div class="btn-group pull-right" id="priority-select">
		  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		    <span class="label">Priority</span> <span class="priority-tag">Medium</span> <span class="caret"></span>
		  </button>
		  <%= f.hidden :priority, :value => @property.priority %>
		  <ul class="dropdown-menu" data-selected="<%= @property.priority %>">
		    <li><span data-value="1" data-tag="Low">Low</span></li>
		    <li><span data-value="2" data-tag="Low">...</span></li>
		    <li><span data-value="3" data-tag="Low">...</span></li>
		    <li><span data-value="4" data-tag="Medium">Medium</span></li>
		    <li><span data-value="5" data-tag="Medium">...</span></li>
		    <li><span data-value="6" data-tag="Medium">...</span></li>
		    <li><span data-value="7" data-tag="High">High</span></li>
		    <li><span data-value="8" data-tag="High">...</span></li>
		    <li><span data-value="9" data-tag="Highest">Highest</span></li>
		  </ul>
		</div>


	</div>
	
	<% end %> <!--End Fieldset-->
	
	<%= submit "Save Property", :class => "btn btn-primary", :id => "submit-form-btn" %>
	
	<div id="image-picker-blocks">
		<div class="form-group">
			<h4>Featured Image</h4>
			<div class="file-input-wrap">
				<% if @property.featured_img %>
					<img src="/properties/images/<%= @property.featured_img_url %>" alt="" width="250">
				<% end %>
				<input type="file" id="featured-img-picker" name="featured" class="file-picker file-inputs new-feature-file" data-demo="#demo-img" data-filename-placement="inside" title="+ Featured Image" />
			</div>
		</div>
		<hr />
		<div class="form-group">
			<h4>Layout Plan</h4>
			<div class="file-input-wrap">
				<% if @property.layout_plan %>
					<img src="/properties/images/plans/layout/<%= @property.layout_plan %>" alt="" width="250">
				<% end %>
				<input type="file" id="layout-plan-picker" name="layout_plan" class="file-picker file-inputs new-file" data-filename-placement="inside" title="Change Layout Plan" />
			</div>
		</div>
		<hr />
		<div class="form-group">
			<h4>Master Plan</h4>
			<div class="file-input-wrap">
				<% if @property.master_plan %>
					<img src="/properties/images/plans/master/<%= @property.master_plan %>" alt="" width="250">
				<% end %>
				<input type="file" id="master-plan-picker" name="master_plan" class="file-picker file-inputs new-file" data-filename-placement="inside" title="Change Master Plan" />
			</div>
		</div>
	</div>
	
	<hr />

	<h4>Gallery Images <% if @images.count > 1 %><small>(Drag images to re-order)</small><% end %></h4>
	<div class="file-input-wrap">
		<div class="gallery-block">
			<% if @images %> 
				<ul class="edit-gallery">
					<% @images.each do |image| %>
						<li class="gallery-item-wrap" id="<%= image.id %>">
							<input name="gallOrder[<%= image.id %>]" class="ord_<%= image.id %>" type="hidden" value="<%= image.order_id %>">
							<div class="gallery-item">
								<img src="/properties/images/<%= image.url %>" alt="" />
							</div>
							<div class="gallery-item-checkbox">
								<input type="hidden" name="gallDels[<%= image.id %>]" value />
								<button class="remove-item"><span class="glyphicon glyphicon-trash"></span></button>
							</div>
						</li>	
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>
	<input type="file" name="images[]" title="+ Gallery Images" id="gallery-items-picker" class="file-picker file-inputs new-file" data-filename-placement="inside"  multiple />
	
</div>