
	<% fieldset(:property) do |f| %>
	<div class="row form-group">
		<div class="col-md-4">
			<%= f.hidden :id, :value => @property.id %>
			<%= f.input :title, :value => @property.title, :class => "form-control" %>
		</div>
		
		<div class="col-md-8">					
				<select class="select2 type-select" data-demo="#demo-type-name" name="property[type_id]" id="type_id" data-selected="<%= @property.type.id if @property.type %>">
					<% @types.each do |type| %>
						<option value="<%= type.id %>"><%= type.name %></option>
					<% end %>
				</select>
				
				<span class="mid-select">in</span>
				
				<select class="select2 location-select" data-demo="#demo-location" name="property[location_id]" id="location_id" data-selected="<%= @property.location.id if @property.location %>">
					<% @locations.each do |location| %>
						<option value="<%= location.id %>"><%= location.name %></option>
					<% end %>
				</select>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="row form-group">
			<div class="col-md-4">
				<%= f.label :state_id, "Mode" %>
				<select class="select2 state-select" data-demo="#demo-state" name="property[state_id]" id="state_id" data-selected="<%= @property.state.id if @property.state %>">
					<% @states.each do |state| %>
						<option value="<%= state.id %>"><%= state.name %></option>
					<% end %>
				</select>
			</div>
			
			<div class="col-md-4">
				<%= f.label :category_id, "Property Type" %>
				<select class="select2" name="property[category_id]" id="category_id" data-selected="<%= @property.category.id if @property.category %>">
					<% @categories.each do |category| %>
						<option value="<%= category.id %>"><%= category.name %></option>
					<% end %>
				</select>
			</div>
			
			<div class="col-md-4">
				<%= f.label :price %>
				<%= f.input :price, :value => @property.price, :id => "price", :class => "form-control demo-control" %>
			</div>
		</div>
		
		<div class="clearfix"></div>
	
		<div class="form-group">
			<div class="row">
				<div class="col-md-4">			
					<%= f.label :area %>
					<%= f.input :area, :value => @property.area, :id => "area", :class => "form-control demo-control" %>
				</div>
				
				
				<div class="col-md-4">
					<%= f.label :area_built, "Area Built" %>
					<%= f.input :area_built, :value => @property.area_built, :id => "area_built", :class => "form-control" %>
				</div>
				
				<div class="col-md-4">
					<%= f.label :area_rate, "Show Area Rate?" %>					
					<input type="checkbox" name="property[area_rate]" id="area_rate" class="form-control" <%= "checked" if @property.area_rate == 'true' %> />
				</div>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4">
				<label>Status</label><br />
				<%= f.select :status, { 
					"0" => "Not Applicable", 
					"1" => "Resale", 
					"2" => "Ready Possession", 
					"3" => "Under Construction" }, 
					:class => "select2", 
					:data_selected => @property.status %>
			</div>
			
			<div class="col-md-4">
				<label>Age</label><br />
				<%= f.select :age, {
					"" 					=> "Not Applicable",
					"Less than 1 Year" 	=> "Less than 1 Year",
					"1 to 5 Years" 		=> "1 to 5 Years",
					"5 to 10 Years" 	=> "5 to 10 Years",
					"10 to 15 Years" 	=> "10 to 15 Years",
					"15+ Years" 		=> "15+ Years"},
					:class 			=> "select2",
					:data_selected 	=> @property.age %>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4">			
				<%= f.label :bhk_count, "Bedrooms" %>
				<%= f.input :bhk_count, :value => @property.bhk_count, :class => "form-control" %>

			</div>
			
			<div class="col-md-4">
				<%= f.label :toil_attached, "Toilets (Attached)" %>
				<%= f.input :toil_attached, :value => @property.toil_attached, :class => "form-control" %>
			</div>
			
			<div class="col-md-4">
				<%= f.label :toil_attached, "Toilets (Non Attached)" %>
				<%= f.input :toil_nattached, :value => @property.toil_nattached, :class => "form-control" %>	
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4">			
				<label>Furnishing</label>
				<%= f.select :furnishing, {
					"" 				=> "Not Applicable",
					"Unfurnished" 	=> "Unfurnished",
					"Semi" 			=> "Semi",
					"Basic" 		=> "Basic",
					"Furnished" 	=> "Furnished"},
					:class 			=> "select2",
					:data_selected 	=> @property.furnishing %>
			</div>
			
			<div class="col-md-4">
				<label>Water Supply</label><br />
				<!-- <input name="property[water]" id="water" type="hidden" value="<%= @property.water %>"> -->
				<select class="select2" name="property[water]" id="water" data-selected="<%= @property.water %>"> <!-- id="property_water" -->
					<option value="">Not Applicable</option>
					<option value="Well">Well</option>
					<option value="Bore-Well">Bore-Well</option>
					<option value="Municipality">Municipality</option>
				</select>
			</div>
			
			<div class="col-md-4">
				<label>Zone</label><br />
				<select class="select2" name="property[zone]" id="zone" data-selected="<%= @property.zone %>">
					<option value="">Not Applicable</option>
					<option value="Settlement">Settlement</option>
					<option value="Orchard">Orchard</option>
					<option value="Agriculture">Agriculture</option>
				</select>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4">			
				<label>Floor</label><br />
				<input type="text" name="property[floor]" id="floor" class="form-control" value="<%= @property.floor %>" />	
			</div>
			
			<div class="col-md-4">
				<label>Lift</label><br />
				<select class="select2" name="property[lift]" id="lift" data-selected="<%= @property.lift %>">
					<option value="">Not Applicable</option>
					<option value="false">No</option>
					<option value="true">Yes</option>
				</select>
			</div>
			
			<div class="col-md-4">
				<label>Sanad</label><br />
				<select class="select2" name="property[sanad]" id="sanad" data-selected="<%= @property.sanad %>">
					<option value="">Not Applicable</option>
					<option value="false">No</option>
					<option value="true">Yes</option>
				</select>
			</div>
		</div>

		<div class="row form-group">
			<div class="col-md-4">			
				<label>Electricity</label><br />
				<select class="select2" name="property[electricity]" id="electricity" data-selected="<%= @property.electricity %>">
					<option value="">Not Applicable</option>
					<option value="1 Phase">1 Phase</option>
					<option value="2 Phase">2 Phase</option>
					<option value="3 Phase">3 Phase</option>
				</select>
			</div>
			
			<div class="col-md-4">
				<%= f.label :view %>
				<%= f.input :view, :value => @property.view, :class => "form-control" %>	
			</div>
			
			<div class="col-md-4">
				<%= f.label :FSI %>
				<%= f.input :fsi, :value => @property.fsi, :class => "form-control" %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :specs, "Facilities" %>
			<%= f.input :specs, :value => @property.specs, :class => "form-control" %>
		</div>

		<div class="form-group">
			<label for="specs">More Information</label>
			<%= f.textarea :more_info, "#{@property.more_info}", { :class => "form-control" } %>
		</div>
				
		<div class="form-group">
			<label for="featured">Featured Image</label>
			<div class="file-input-wrap">
				<img src="/properties/images/<%= @featured_img %>" alt="" width="250">
				<input type="file" id="featured-img-picker" name="featured_img" class="file-picker file-inputs new-feature-file" data-demo="#demo-img" data-filename-placement="inside" title="Change Featured Image" />
			</div>
		</div>
		
		<div class="form-group">	
			<label>Gallery Images</label> (Drag images to re-order)
			<div class="file-input-wrap">
				<ul class="gallery-block">
					<div class="edit-gallery">
						<% if @images %> 
							<% @images.each do |image| %>
							<div id="<%= image.id %>">
								<input name="gallOrder[<%= image.id %>]" class="ord_<%= image.id %>" type="hidden" value="<%= image.order_id %>">
								<li class="col-md-4 gallery-item">
									<div class="img-wrap"><label for="checkbox">Delete?</label> <input type="checkbox" name="gallDels[<%= image.id %>]" />
										<img src="/properties/images/<%= image.url %>" alt="" width="200" /></div>
								</li>
							</div>	
							<% end %>
						<% end %>
				</ul>
				<input type="file" name="gallUploads[]" title="+ Gallery Images" class="file-picker file-inputs new-file" data-filename-placement="inside"  multiple />
			</div>

			<!-- <div class="file-input-wrap">
				<ul class="gallery-block row">
				<%# @images.each do |image| %>
					<li class="gallery-item col-md-4">
							<div class="img-wrap">
								<img src="/properties/images/<%#= image.url %>" alt="" width="200" />
							</div>
							<label for="checkbox">Delete?</label>
							<input type="checkbox" name="gallDels[<%#= image.id %>]" />
					</li>
				<%# end %>
				</ul>
				
			</div> -->
		</div>

		<div class="form-group">
			<label for="layout">Layout Plan</label>
			<div class="file-input-wrap">
				<img src="/properties/images/plans/layout/<%= @property.layout_plan %>" alt="" width="250">
				<input type="file" id="layout-plan-picker" name="layout_plan" class="file-picker file-inputs new-file" data-filename-placement="inside" title="Change Layout Plan" />
			</div>
		</div>

		<div class="form-group">
			<label for="master">Master Plan</label>
			<div class="file-input-wrap">
				<img src="/properties/images/plans/master/<%= @property.master_plan %>" alt="" width="250">
				<input type="file" id="master-plan-picker" name="master_plan" class="file-picker file-inputs new-file" data-filename-placement="inside" title="Change Master Plan" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="field_notes">Property Notes (Internal)</label>
			<textarea name="property[field_notes]" class="form-control" id="field_notes"><%= @property.field_notes %></textarea>
		</div>
		
		<div class="row form-group">
			<div class="col-md-4">
				<label for="is_active">Active?</label>
				<input type="checkbox" name="property[is_active]" id="is_active" <%= "checked" if @property.is_active %> />
			</div>
			<div class="col-md-4">
				<label for="is_premium">Premium?</label>
				<input type="checkbox" name="property[is_premium]" id="is_premium" <%= "checked" if @property.is_premium %> />
			</div>
		</div>
	<div class="clearfix"></div>
	<% end %>
	<%= submit %>
