<ul id="property-grid">
	<% @properties.each do |property| %>
		<li class="col-md-4 col-sm-6 col-xs-12 property-item <%= property.location.name.downcase %> <%= property.type.name.downcase.gsub(" ", "-") %> bhk-<%= property.bhk_count %>" 
			data-price="<%= property.price %>" 
			data-area="<%= property.area %>"
			data-date="<%= property.updated_at %>">
			
				<div class="img-block">
					
					<a href="/property/<%= property.id %>"><img src="/properties/images/<%= property.featured_img %>" alt="" /></a>
				</div>
				<div class="data-block">
					<h3 class="prop-title">
						<a href="/property/<%= property.id %>">
							<%= "<span class='prop-string'>#{property.title}</span>" %>
							<%= "<span class='prop-string'>#{property.type.name}</span>" %> <br />
							<span class="smaller"><%= "in <span class='prop-string'>#{property.location.name}</span>" %></span> <br />
							
						</a>
						
					</h3> 
					<span class='smaller prop-string'><span class="unit-area"><%= property.area %></span> <span class="unit-label">Sq Mts</span></span>
					<div class="prop-price">
						<span class="price sort-price">
							<% if property.state_id == 2 %>
								<%= to_currency(property.price) + " / mo" %>
							<% else %>
								<%= to_currency(property.price) %>
							<% end %>
						</span>
					</div>
				</div>
		</li>
	<% end %>
</ul>