<li class="property-item <%= property.classlist %> <%= cols %>" 
	data-price="<%= property.price %>" 
	data-area="<%= property.area %>"
	data-date="<%= property.updated_at %>">
	
	<div class="property-item-inner">
		<div class="img-block">
			<a href="/property/<%= property.id %>/<%= property.slug %>">
				<img src="/properties/images/thumbs/gpc-default-thumb.jpg" data-original="/properties/images/thumbs/<%= property.featured_img_url %>" alt="<%= property.full_title_text %> in Goa" />
			</a>
		</div>
		<div class="data-block">
			<h3 class="prop-title">
				<a href="/property/<%= property.id %>/<%= property.slug %>">
					<%= property.full_title %>
				</a>
			</h3>
			<div class="clearfix"></div>
			<div class="prop-area">
				<div class="block sort-area" data-sort="<%= property.area %>">
					<span class="unit-area"><%= property.area %></span> <span class="unit-label">Sq Mts</span>
				</div>
			</div>
			<div class="prop-price">
				<span class="price sort-price">
					<%= to_currency(property.show_price, property.state_id) %>
				</span>
			</div>
			<span class="prop-code hidden-xs">GPC<%= property.id %></span>
		</div>
	</div>
</li>