<ul id="property-grid" class="row">
<% @properties.each do |property| %>
	<li class="col-md-4 col-sm-6 col-xs-12 property-item">
			<div class="img-block">
				<span class="prop-price"><%= property.price %></span>
				<a href="/property/<%= property.id %>"><img src="/properties/images/<%= property.featured_img %>" alt="" /></a>
			</div>
			<div class="k">
				<div class="data-block"><h3 class="prop-title">
					<a href="/property/<%= property.id %>">
						<span><%= property.title %> </span>
						<%= property.type %> 
						<%= "in " + property.location %>
						<%= "for Sale" if property.for_buy == true %>
						<%= "for Rent" if property.for_rent == true %>
					</a>
				</h3>
				<ul class="clearfix">
					<li class="clearfix">
						<div class="block"><span class="label">Area</span></div>
						<div class="block">
							<%= property.area_detail %> <span class="prop-area-built">(Built Area: <%= property.area_built %>)</span>
						</div>
					</li>
					<li class="clearfix">
						<div class="block"><span class="label">Facilities</span> </div>
						<div class="block">Bathroom, 3BHK, Parking</div>
					</li>
				</ul></div>
			</div>
	</li>
<% end %>
</ul>