<li class="col-md-4 col-sm-6 col-xs-12 property-item <%= property.location.name.downcase %> <%= property.state.name.downcase %> <%= property.type.name.downcase.gsub(" ", "-") %>" 
			data-price="<%= property.price %>" 
			data-area="<%= property.area %>"
			data-date="<%= property.updated_at %>">
			
				<div class="img-block">
					<a href="/property/<%= property.id %>/<%= property.slug %>">
						<img src="/properties/images/thumbs/<%= property.featured_img %>" alt="" />
					</a>
				</div>
				<div class="data-block">
					<h3 class="prop-title">
						<a href="/property/<%= property.id %>/<%= property.slug %>">
							<%= "<span class='prop-string'>#{property.title}</span>" %>
							<%= "<span class='prop-string'>#{property.type.name}</span>" %> <br />
							<span class="smaller"><%= "in <span class='prop-string'>#{property.location.name}</span>" %></span> <br />
							
						</a>
						
					</h3> 
					<span class='smaller prop-string'<span class="unit-area"><%= property.area %></span> <span class="unit-label">Sq Mts</span></span>
					<div class="prop-price">
						<span class="price sort-price">
							<% if property.state_id == 2 %>
								<%= to_currency(property.price) + " / mo" %>
							<% else %>
								<%= to_currency(property.price) %>
							<% end %>
						</span>
					</div>
					<span class="prop-code">Code: GPC<%= property.id %></span>
				<div>
	<span class="action"><a class="btn btn-primary btn-sm" href="/property/<%=property.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit</a></span>
	<span class="action">
		<button class="delete-btn btn-primary btn-sm" data-resource-name="<%= property.title.nil? ? "" : property.title + " " + property.type.name %><%= " in " + property.location.name %><%= " for " + property.state.name %>" data-resource-id="<%= property.id %>" data-target=".delete-modal" data-type="property">
		  <span class="glyphicon glyphicon-remove"></span>  Delete
		</button>
	</span>
</div>
				</div>

				<!-- <span class="action"><a class="btn btn-primary btn-sm" href="/property/<%#=property.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit</a></span>
			<span class="action">
				<button class="delete-btn btn-primary btn-sm" data-resource-name="<%#= property.title + " " + property.type.name %><%#= " in " + property.location.name %><%#= " for " + property.state.name %>" data-resource-id="<%#= property.id %>" data-target=".delete-modal" data-type="property">
				  <span class="glyphicon glyphicon-remove"></span>  Delete
				</button>
			</span> -->
		</li>

