<li class="property-item <%= property.classlist %> <%= property.state.name.downcase %> <%= cols %>" 
	data-price="<%= property.price %>" 
	data-area="<%= property.area %>"
	data-date="<%= property.updated_at %>">
	
	<div class="property-item-inner">
		<div class="img-block">
			<a href="/property/<%= property.id %>/<%= property.slug %>">
				<img src="/properties/images/thumbs/<%= property.featured_img %>" alt="<%= property.title %> <%= property.type.name %> in Goa" />
			</a>
		</div>
		<div class="data-block">
			<h3 class="prop-title">
				<a href="/property/<%= property.id %>/<%= property.slug %>">
					<%= property.full_title %>
				</a>
			</h3>
			<div class="prop-price">
				<span class="price sort-price">
					<%= to_currency(property.show_price, property.state_id) %>
				</span>
			</div>
			<ul class="clearfix">
				<li class="prop-area">
					<div class="block sort-area" data-sort="<%= property.area %>">
						<span class="unit-area"><%= property.area %></span> <span class="unit-label">Sq Mts</span>
					</div>
				</li>
			</ul>
			<span class="prop-code">GPC<%= property.id %></span>
		</div>
		<div class="admin-controls">
			<span class="action"><a class="btn btn-primary btn-sm" href="/property/<%=property.id %>/edit"><span class="glyphicon glyphicon-pencil"></span> Edit</a></span>
			<span class="action">
				<button class="delete-btn btn-primary btn-sm" 
					data-resource-name="<%= property.full_title_text %>" 
					data-resource-id="<%= property.id %>" 
					data-target=".delete-modal" 
					data-type="property">
				  <span class="glyphicon glyphicon-remove"></span>  Delete
				</button>
			</span>
			<span class="action">
				<%= form('/properties', :put, :id => 'is_active_form') %>
					<%= hidden :property, :id, :value => property.id %>
					<%= hidden :property, :is_active, :value => !property.is_active %>
					<input type="Submit" class="btn btn-primary btn-large submit-btn" value="<%= property.is_active ? "Deactivate" : "Activate" %>">
				</form>
			</span>
		</div>
	</div>
</li>