<form method="get" action="/search" id="search">
	<div id="select-category" class="select-label-wrap"> 
		<a href="#" id="select-category-label" class="select-label" data-container="body" data-toggle="popover" data-content="
			<%= erb :_category_loop %>
		"><%= @category.name %></a> properties &nbsp;
		<input type="hidden" name="search[category]" value="<%= @category.id %>" id="input-category" class="hidden-field" />
	</div>
	
	
	<div id="select-state" class="select-label-wrap"> for 
		<a href="#" id="select-state-label" class="select-label" data-container="body" data-toggle="popover" 
			data-content="
			<%= erb :_state_loop %>
			"><%= @state.name %></a>
		<input type="hidden" name="search[state]" value="<%= @state.id %>" id="input-state" class="hidden-field" />
	</div>
	
	<div id="select-region" class="select-label-wrap"> in
		<a href="#" id="select-region-label" class="select-label" data-container="body" data-toggle="popover" data-content="
			<%= erb :_region_loop %>
		"><%= @region.name %></a>
		
		<input type="hidden" name="search[region_id]" value="<%= @region.id %>" class="hidden-field" />
	</div>
	
	<button type="submit" name="submit" id="find-prop" class="btn btn-large pull-right"><span class="glyphicon glyphicon-repeat"></span> Search Again</button>
</form>