<div class="grid-wrap">
	<div class="container-fluid">
		<div class="row section">
			<div class="col-md-12" id="admin-main-controls">
				<a href="/property/new" class="btn btn-large btn-primary">New Property</a>
				<a href="/locations" class="btn btn-large btn-primary">Manage Locations</a>
				<a href="/type/new" class="btn btn-large btn-primary">New Property Type</a>
			</div>
		</div>
	</div>
	<div class="container-fluid admin-filters"  id="results-container">
		<div class="row section">

			<%# @locations.each do |location| %>
				<%# unless location.propertys.count < 1 %>
					<div class="col-md-2 col-sm-3 hidden-xs filters" id="filters">
						<span class="label">Option</span>
						<ul class="list-group filter-group" id="state-filter-admin" data-filter-group="state">
							<li class="list-group-item active">
								<span class="badge"><%= @properties.count %></span>
								<a href="#" data-filter="">All</a>
							</li>
							<% @states.each do |state| %>
								<li class="list-group-item">
									<span class="badge">
										<%= state.propertys.count %>
									</span>
									<a href="#" data-filter=".<%= state.name.downcase %>"><%= state.name %></a>
								</li>
							<% end %>
						</ul>
						<span class="label">Type</span>
						<ul class="list-group filter-group" id="type-filter-admin" data-filter-group="type">
							<li class="list-group-item active">
								<span class="badge"><%= @properties.count %></span>
								<a href="#" data-filter="">All</a>
							</li>
							<% @types.each do |type| %>
								<li class="list-group-item">
									<span class="badge">
										<%= type.propertys.count %>
									</span>
									<a href="#" data-filter=".<%= type.name.downcase.gsub(" ", "-") %>"><%= type.name %></a>
								</li>
							<% end %>
						</ul>	
						<span class="label">Locations</span>
						<ul class="list-group filter-group" id="location-filter-admin" data-filter-group="location">
							<li class="list-group-item active">
								<span class="badge"><%= @properties.count %></span>
								<a href="#" data-filter="">All</a>
							</li>
							<% @locations.each do |location| %>
								<li class="list-group-item">
									<span class="badge"><%= location.propertys.count %></span>
									<a href="#" data-filter=".<%= location.name.downcase %>"><%= location.name %></a>
								</li>
							<% end %>
						</ul>
					</div>
					<div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3">
							<ul id="property-grid" class="row">
								<% @properties.each do |property| %>
									<%= erb :_property_admin, :layout => false, :locals => {:property => property, :cols => "col-md-4 col-sm-6"} %>
								<% end %>
							</ul>
						<!--<%# end %> -->
					</div>
				<%# end%>
			<%# end %>
		</div>
	</div>
</div>
<%= erb :_modal %>