<div class="container">
	<div class="row section">
		<div class="col-md-12">
			<h2>Hi Goa Property Co</h2>
			<p class="lead">You can change pretty much anything from this admin page.</p>
		</div>
	</div>

	<div class="row section">
		<div class="col-md-12">
			<h3 class="title">Properties</h3>
			<a href="/property/new" class="btn btn-large btn-primary">Create New Property</a>
		</div>
		<div class="col-md-12">
			<ul class="list-group">
			  <% @properties.each do |property| %>
			  	<li class="list-group-item clearfix">
			  			<div class="col-md-1">
			  				<a href="/property/<%= property.id %>"><img src="/properties/images/<%= property.images.get(property.featured_img).url %>" alt="" width="60" /></a>
			  			</div>
			  			<div class="col-md-6">
				  			<a href="/property/<%= property.id %>"><%= property.title %></a>
			  			</div>
			  			<div class="col-md-5 text-right">
				  			<span class="action"><span class="glyphicon glyphicon-pencil"></span> <a href="/property/<%= property.id %>/edit">Edit</a></span>
				  			<span class="action">
				  				<button class="delete-btn btn-primary btn-large" data-resource-name="<%= property.title %>" data-resource-id="<%= property.id %>" data-target=".delete-modal" data-type="property">
				  				  <span class="glyphicon glyphicon-remove"></span>  Delete
				  				</button>
				  			</span>
			  			</div>
			  	</li>
			  <% end %>
			</ul>
		</div>
	</div>

	<div class="row section">
		<div class="col-md-12">
			<h3 class="title">Locations</h3>
			<a href="/location/new" class="btn btn-large btn-primary">Create New Location</a>
		</div>
		<div class="col-md-12">
			<ul class="list-group">
			  <% @locations.each do |location| %>
			  	<li class="list-group-item clearfix">
			  			<div class="col-md-4">
				  			<a href="/location/<%= location.id %>"><%= location.name %></a>
			  			</div>
			  			<div class="col-md-4">
				  			<span class="label">
				  				Regions: 
				  				<% location.regions.each do |region| %>
				  				<%= region.name %>
								<% end %>
							</span>
			  			</div>
			  			<div class="col-md-4 text-right">
				  			<span class="action"><span class="glyphicon glyphicon-pencil"></span> <a href="/location/<%= location.id %>/edit">Edit</a></span>
				  			<span class="action">
				  				<button class="delete-btn btn-primary btn-large" data-resource-name="<%= location.name %>" data-resource-id="<%= location.id %>" data-target=".delete-modal" data-type="location">
				  				  <span class="glyphicon glyphicon-remove"></span>  Delete
				  				</button>
				  			</span>
			  			</div>
			  	</li>
			  <% end %>
			</ul>
		</div>
	</div>

	<!-- <div class="row section">
		<div class="col-md-12">
			<h3 class="title">Regions</h3>
			<a href="/region/new" class="btn btn-large btn-primary">Create New Region</a>
		</div>
		<div class="col-md-12">
			<ul class="list-group">
			  <%# @regions.each do |region| %>
			  	<li class="list-group-item clearfix">
			  			<div class="col-md-6">
				  			<a href="/region/<%#= region.id %>"><%#= region.name %></a>
			  			</div>
			  			<div class="col-md-5 text-right">
				  			<span class="action"><span class="glyphicon glyphicon-pencil"></span> <a href="/region/<%#= region.id %>/edit">Edit</a></span>
				  			<span class="action">
				  				<button class="delete-btn" data-resource-name="<%#= region.name %>" data-resource-id="<%#= region.id %>" data-target=".delete-modal" data-type="region">
				  				  <span class="glyphicon glyphicon-remove"></span>  Delete
				  				</button>
				  			</span>
			  			</div>
			  	</li>
			  <%# end %>
			</ul>
		</div>
	</div> -->
</div>
<%= erb :_modal %>