<div class="container">
	<div class="row">
		<div class="col-md-8 blog-post">
			<h1  class="blog-title">
				Goa Property Blog  
				<div class='blog-header-link'>
					<a href="/blog" >Recent posts</a>
					<a href="/blog/category/<%= :news %>" >News</a>
					<a href="/blog/category/<%= :articles %>" >Articles</a>
					<a href="/blog/category/<%= :knowledge %>" >Knowledge</a>
				</div>

			</h1>
			<div id="content" class="post-content">
					<h3 class="post-title"><%= @post_title %></h3>

					<p>
						<%= @post_body %>
					</p>
			</div>

		</div>		
				
		<div class="col-md-4">
		
		<ul id="property-grid">
			<li><h2>Properties list</h2></li>
			<% @properties.each do |property| %>
				<%= erb :_property, :layout => false, :locals => {
					:property => property,  
					:cols => "col-xs-12"} %>
			<% end %>
		</ul>
		</div>
	</div>

	<script type="text/javascript">

		$('.blog-header-link a').click(function() {
			$('.blog-header-link a').addClass('.active');
		});
	</script
</div>

