<div class="container">
	<div class="row">
		<div class="col-md-8 blog-post">
			<%= partial :_blog_header %>
			
			<div class ="post-content" >

					<h3 class="post-title"><%= @post_title %><br/>
					<span class="post-category"> # <%= @post_tags %> </span>
					</h3>
					<p>
						<%= @post_body %>
					</p>
			</div>
			<div class='blog-footer'> 	
			<div class="row post-links">
				<h3>Most recent posts in <%= @post_tags %> </h3>
				<% if @post_tags == 'articles' || @post_tags == 'article' %>				
					<ul>
							<% @articles.each do |post| %>		
								<% if post['title'] != @post_title %>
									<li class="post-link">	
										<a href="/blog/<%= (post['tags'].first).downcase  %>/<%= post['id'] %>/<%= post['slug'] %>"><%= post['title'] %></a><span class="post-date"><%= post['date'].split(' ').first %></span> <span class="post-category"> # <%= (post['tags'].first).downcase %></span><br/>		
									</li>
								<% end %>
							<% end %>
					</ul>
				<% elsif @post_tags == 'news' %>
					<ul>
							<% @news.each do |post| %>	
								<% if post['title'] != @post_title %>
									<li class="post-link">	
										<a href="/blog/<%= (post['tags'].first).downcase  %>/<%= post['id'] %>/<%= post['slug'] %>"><%= post['title'] %></a><span class="post-date"><%= post['date'].split(' ').first %></span> <span class="post-category"> # <%= (post['tags'].first).downcase %></span><br/>		
									</li>
								<% end %>
							<% end %>
					</ul>
				<% elsif @post_tags == 'knowledge' %>
					<ul>
							<% @knowledge.each do |post| %>	
								<% if post['title'] != @post_title %>
									<li class="post-link">	
										<a href="/blog/<%= (post['tags'].first).downcase  %>/<%= post['id'] %>/<%= post['slug'] %>"><%= post['title'] %></a><span class="post-date"><%= post['date'].split(' ').first %></span> <span class="post-category"> # <%= (post['tags'].first).downcase %></span><br/>		
									</li>
									<% end %>
								<% end %>
					</ul>
				<% end %>
			</div>
			</div>
		</div>		
				
		<div class="col-md-4">
		
		<ul id="property-grid">
			<li><h2>Properties list</h2></li>
			<% @properties.each do |property| %>
				<%= erb :_property, :layout => false, :locals => {
					:property => property,  
					:cols => "col-xs-12"} %>
			<% end %>
		</ul>
		</div>
	</div>
</div>

