<div class="container">
	<div class="row">
		<div class="col-md-8 blog-post">
			<%= partial :_blog_header %>
			
			<div id="content" class="post-content">

					<h3 class="post-title"><%= @post_title %><br/>
					<span class="post-tags"> # <%= @post_tags %> </span>
					</h3>
					<p>
						<%= @post_body %>
					</p>
			</div>
			<div class='blog-footer'> 	
			<div class="row recent-posts ">
				<h3>Most recent posts in <%= @post_tags %> </h3>
				<% if @post_tags == 'articles' %>
					<div> 
							<% @articles.each do |post| %>	
								<% if post['title'] != @post_title %>
								<a href="/blog/<%= (post['tags'].first).downcase  %>/<%= post['id'] %>/<%= post['slug'] %>"><%= post['title'] %></a><span class="post-date"><%= post['date'].split(' ').first %></span> <p class="post-category"> # <%= (post['tags'].first).downcase %></p><br/>		
								<% end %>
							<% end %>
					</div>
					
				<% elsif @post_tags == 'news' %>
					<div> 
							<% @news.each do |post| %>	
								<% if post['title'] != @post_title %>
									<a href="/blog/<%= (post['tags'].first).downcase  %>/<%= post['id'] %>/<%= post['slug'] %>"><%= post['title'] %></a><span class="post-date"><%= post['date'].split(' ').first %></span> <p class="post-category"> # <%= (post['tags'].first).downcase %></p><br/>		
								<% end %>
							<% end %>
					</div>
				<% elsif @post_tags == 'knowledge' %>
					<div> 
							<% @knowledge.each do |post| %>	
							<% if post['title'] != @post_title %>
								<a href="/blog/<%= (post['tags'].first).downcase  %>/<%= post['id'] %>/<%= post['slug'] %>"><%= post['title'] %></a> <span class="post-date"><%= post['date'].split(' ').first %></span> <p class="post-category"> # <%= (post['tags'].first).downcase %></p><br/>		
								<% end %>
							<% end %>
					</div>
				<% end %>
			</div>
			</div>
		</div>		
				
		<div class="col-md-4">
		
		<ul id="property-grid">
			<li><h2>Properties list</h2></li>
			<% @properties.each do |property| %>
				<%= erb :_property, :layout => false, :locals => {
					:property => property,  
					:cols => "col-xs-12"} %>
			<% end %>
		</ul>
		</div>
	</div>
</div>

