<div class="container">
	<div class="row">

		<div class="col-md-8 blog-post">
			
			<%= partial :_blog_header %>

			<div class="row categories">
			<% if @knowledge %>
				<div class="col-xs-12" id="articles">
					
					<% @knowledge.each do |post| %>
					<ul >
						<li class="post-links">
						<a href="/blog/<%= (post['tags'].first).downcase %>/<%= post['id'] %>/<%= post['slug'] %>"><%= post['title'] %></a> <span class="post-date"><%= post['date'].split(' ').first %></span>
						</li>
					</ul>
					<% end %>
				</div>

			
			<% elsif @news %>
				<div class="col-xs-12" id="articles">				
				
				<% @news.each do |post| %>
					<ul >
						<li class="post-links">
						<a href="/blog/<%= (post['tags'].first).downcase  %>/<%= post['id'] %>/<%= post['slug'] %>"><%= post['title'] %></a> <span class="post-date"><%= post['date'].split(' ').first %></span>
						</li>
					</ul>
				<% end %>
				</div>

			<% elsif @articles %>
				<div class="col-xs-12" id="articles">	
					
				<% @articles.each do |post| %>
					<ul >
						<li class="post-links">
							<a href="/blog/<%= (post['tags'].first).downcase  %>/<%= post['id'] %>/<%= post['slug'] %>"><%= post['title'] %></a> <span class="post-date"><%= post['date'].split(' ').first %></span>
						</li>
					</ul>
				<% end %>
				
				</div>

			<% end %>

		</div>		
		</div>	
		<div class="col-md-4">
		
		<ul id="property-grid">
			<li><h2>Properties list</h2></li>
			<% @properties.each do |property| %>
				<%= erb :_property, :layout => false, :locals => {
					:property => property,  
					:cols => "col-xs-12"} %>
			<% end %>
		</ul>
		</div>
	</div>
</div>

			



