

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<form role="form" action="/update" method="post" id="property" enctype="multipart/form-data">
				
				<input name="property[id]" id="property_id" type="hidden" value="<%= @property.id %>">
				<div class="row form-group">
					<div class="col-md-4">
						<input type="text" name="property[title]" id="title" class="demo-control form-control" data-demo="#demo-title" placeholder='Eg. "Old Portuguese", "3BHK", "Spacious"' value="<%= @property.title %>"/>	
					</div>
					
					<div class="col-md-8">					
						<select class="select2 type-select" data-demo="#demo-type-name" name="property[type_id]" id="type_id">
							<% @types.each do |type| %>
								<option value="<%= type.id %>" <%= @selected unless type.id != @property.type.id %>><%= type.name %></option>
							<% end %>
						</select>
						
						<span class="mid-select">in</span>
						
						<select class="select2 location-select" data-demo="#demo-location" name="property[location_id]" id="location_id">
							<% @locations.each do |location| %>
								<option value="<%= location.id %>" <%= @selected unless location.id != @property.location.id %>><%= location.name %></option>
							<% end %>
						</select>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row form-group">
					<div class="col-md-4">
						<label>Mode</label>
						<select class="select2 state-select" data-demo="#demo-state" name="property[state_id]" id="state_id">
							<% @states.each do |state| %>
								<option value="<%= state.id %>" <%= @selected unless state.id != @property.state.id %>><%= state.name %></option>
							<% end %>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Property Type</label>
						<select class="select2" name="property[category_id]" id="category_id">
							<% @categories.each do |category| %>
								<option value="<%= category.id %>" <%= @selected unless category.id != @property.category.id %>><%= category.name %></option>
							<% end %>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Price</label><br />
						<input type="text" name="property[price]" id="price" class="form-control demo-control" data-demo="#demo-price" placeholder="in Rs." value="<%= to_currency(@property.price) %>" />
					</div>
				</div>
				
				<div class="clearfix"></div>
			
				<div class="form-group">
					<div class="row">
						<div class="col-md-4">			
							<label>Area in Sq Mts:</label><br />
							<input type="text" name="property[area]" id="area" class="form-control demo-control" data-demo="#demo-area" value="<%= @property.area %>"/>	
						</div>
						
						
						<div class="col-md-4">
							<label>Area built (Sq Mts):</label><br />
							<input type="text" name="property[area_built]" id="area_built" class="form-control" value="<%= @property.area_built %>" />	
						</div>
						
						<div class="col-md-4">
							
						</div>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">			
						<label>Bedrooms</label><br />
							<input type="text" name="property[bhk_count]" id="bhk_count" class="form-control" value="<%= @property.bhk_count %>" />	
					</div>
					
					<div class="col-md-4">
						<label>Toilets (Attached)</label><br />
						<input type="text" name="property[toil_attached]" id="toil_attached" class="form-control" value="<%= @property.toil_attached %>" />	
					</div>
					
					<div class="col-md-4">
						<label>Toilets (Non Attached)</label><br />
						<input type="text" name="property[toil_nattached]" id="toil_nattached" class="form-control" value="<%= @property.toil_nattached %>" />	
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">			
						<label>Furnishing</label>
						<select class="select2" name="property[furnishing]" id="furnishing">
							<option value="" <%= @selected unless @property.furnishing != "" %>>Not Applicable</option>
							<option value="Unfurnished" <%= @selected unless @property.furnishing != "Unfurnished" %>>Unfurnished</option>
							<option value="Semi" <%= @selected unless @property.furnishing != "Semi" %>>Semi</option>
							<option value="Basic" <%= @selected unless @property.furnishing != "Basic" %>>Basic</option>
							<option value="Furnished" <%= @selected unless @property.furnishing != "Furnished" %>>Furnished</option>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Water Supply</label><br />
						<select class="select2" name="property[water]" id="water">
							<option value="" <%= @selected unless @property.water != "" %>>Not Applicable</option>
							<option value="Well" <%= @selected unless @property.water != "Well" %>>Well</option>
							<option value="Bore-Well" <%= @selected unless @property.water != "Bore-Well" %>>Bore-Well</option>
							<option value="Municipality" <%= @selected unless @property.water != "Municipality" %>>Municipality</option>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Zone</label><br />
						<select class="select2" name="property[zone]" id="zone">
							<option value="" <%= @selected unless @property.zone != "" %>>Not Applicable</option>
							<option value="Settlement" <%= @selected unless @property.zone != "Settlement" %>>Settlement</option>
							<option value="Orchard" <%= @selected unless @property.zone != "Orchard" %>>Orchard</option>
							<option value="Agriculture" <%= @selected unless @property.zone != "Agriculture" %>>Agriculture</option>
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">			
						<label>Floor</label><br />
						<input type="text" name="property[floor]" id="floor" class="form-control" value="<%= @property.floor %>" />	
					</div>
					
					<div class="col-md-4">
						<label>Lift</label><br />
						<select class="select2" name="property[lift]" id="lift">
							<option value="" <%= @selected unless @property.lift != "" %>>Not Applicable</option>
							<option value="false" <%= @selected unless @property.lift != false %>>No</option>
							<option value="true" <%= @selected unless @property.lift != true %>>Yes</option>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Sanad</label><br />
						<select class="select2" name="property[sanad]" id="sanad">
							<option value="" <%= @selected unless @property.sanad != "" %>>Not Applicable</option>
							<option value="false" <%= @selected unless @property.sanad != false %>>No</option>
							<option value="true" <%= @selected unless @property.sanad != true %>>Yes</option>
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">			
						<label>Electricity</label><br />
						<select class="select2" name="property[electricity]" id="electricity">
							<option value="" <%= @selected unless @property.electricity != "" %>>Not Applicable</option>
							<option value="1 Phase" <%= @selected unless @property.electricity != "1 Phase" %>>1 Phase</option>
							<option value="2 Phase" <%= @selected unless @property.electricity != "2 Phase" %>>2 Phase</option>
							<option value="3 Phase" <%= @selected unless @property.electricity != "3 Phase" %>>3 Phase</option>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>View</label><br />
						<input type="text" name="property[view]" id="view" class="form-control" value="<%= @property.view %>" />	
					</div>
					
					<div class="col-md-4">
						<label>FSI</label><br />
						<input type="text" name="property[fsi]" id="fsi" class="form-control" value="<%= @property.fsi %>" />	
					</div>
				</div>

				<div class="form-group">
					<label for="specs">Other Specifications</label>
					<input type="text" name="property[specs]" id="specs" class="form-control" placeholder="Parking Space, Swimming Pool, Field view, etc." value="<%= @property.specs %>" />	
				</div>
						
				<div class="form-group">
					<label for="featured">Featured Image</label>
					<div class="file-input-wrap">
						<img src="/properties/images/<%= @featured_img %>" alt="" width="250">
						<input type="file" id="featured-img-picker" name="featured_img" class="file-picker file-inputs new-feature-file" data-demo="#demo-img" data-filename-placement="inside" title="Change Featured Image" />
					</div>
				</div>
				
				<div class="form-group">	
					<label>Gallery Images</label>		
					<div class="file-input-wrap">
						<ul class="gallery-block row">
						<% @images.each do |image| %>
							<li class="gallery-item col-md-4">
									<div class="img-wrap">
										<img src="/properties/images/<%= image.url %>" alt="" width="200" />
									</div>
									<label for="checkbox">Delete?</label>
									<input type="checkbox" name="gallDels[<%= image.id %>]" />
							</li>
						<% end %>
						</ul>
						<input type="file" name="gallUploads[]" title="+ Gallery Images" class="file-picker file-inputs new-file" data-filename-placement="inside"  multiple />
					</div>
				</div>
				
				<div class="form-group">
					<label for="field_notes">Property Notes (Internal)</label>
					<textarea name="property[field_notes]" class="form-control" id="field_notes"><%= @property.field_notes %></textarea>
				</div>
		
				<div class="form-group">
						<input type="Submit" class="btn btn-primary btn-large submit-btn" value="Update Property">
						
						<button class="btn delete-btn btn-danger btn-large" data-resource-name="<%= @property.title + " " + @property.type.name %><%= " in " + @property.location.name %><%= " for " + @property.state.name %>" data-resource-id="<%= @property.id %>" data-target=".delete-modal" data-type="property">
						  <span class="glyphicon glyphicon-remove"></span>  Delete Property
						</button>
				</div>
				
			</form>
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12 ">
			<h3>Live Preview</h3>
			<div id="demo-property">
				<ul>
					<li class="property-item <%= @property.location.name.downcase %> <%= @property.type.name.downcase %>" data-price="<%= @property.price %>" data-area="<%= @property.area %>"	data-date="<%= @property.updated_at %>">
						<div class="img-block">
							<a href="/property/<%= @property.id %>"><img src="/properties/images/<%= @featured_img %>" alt="" id="demo-img"/></a>
						</div>
						<div class="data-block">
							<h3 class="prop-title">
								<a href="/property/<%= @property.id %>">
									<%= "<span id='demo-title' class='prop-string'>#{@property.title}</span>" %>
									<%= "<span id='demo-type-name' class='prop-string'>#{@property.type.name}</span>" %> <br />
									<span class="smaller"><%= "in <span id='demo-location' class='prop-string'>#{@property.location.name}</span>" %></span> <br />
								</a>
							</h3> 
							<span id="demo-area" class='smaller prop-string'><%= @property.area %></span><span> Sq Mts</span>
							<div class="prop-price">
								<span id="demo-price" class="price sort-price">
									<% if @property.state_id == 2 %>
										<%= to_currency(@property.price) + " / mo" %>
									<% else %>
										<%= to_currency(@property.price) %>
									<% end %>
								</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	

</div>
<%= erb :_modal %>