

<div class="container">
	<div class="row">	
		<div class="col-md-12">
			<h3>Editing <a href="/property/<%= @property.id %>/<%= @property.slug %>"><%= @property.full_title %></a></h3>	
		</div>
		
		<%= form("/properties", :put, :id => "property", :enctype => "multipart/form-data") %>
			<%= erb :_form %>
		</form>
		
	</div>
</div>
<%= erb :_modal %>