

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<form role="form" action="/update" method="post" id="property" enctype="multipart/form-data">
				
				<input name="property[id]" id="property_id" type="hidden" value="<%= @property.id %>">
				<div class="row form-group">
					<div class="col-md-4">
						<input type="text" name="property[title]" id="title" class="demo-control form-control" data-demo="#demo-title" placeholder='Eg. "Old Portuguese", "3BHK", "Spacious"' value="<%= @property.title %>"/>	
					</div>
					
					<div class="col-md-8">					
						<select class="select2 type-select" data-demo="#demo-type-name" name="property[type_id]" id="type_id" data-selected="<%= @property.type.id %>">
							<% @types.each do |type| %>
								<option value="<%= type.id %>"><%= type.name %></option>
							<% end %>
						</select>
						
						<span class="mid-select">in</span>
						
						<select class="select2 location-select" data-demo="#demo-location" name="property[location_id]" id="location_id" data-selected="<%= @property.location.id %>">
							<% @locations.each do |location| %>
								<option value="<%= location.id %>"><%= location.name %></option>
							<% end %>
						</select>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row form-group">
					<div class="col-md-4">
						<label>Mode</label>
						<select class="select2 state-select" data-demo="#demo-state" name="property[state_id]" id="state_id">
							<% @states.each do |state| %>
								<option value="<%= state.id %>" <%= @selected unless state.id != @property.state.id %>><%= state.name %></option>
							<% end %>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Property Type</label>
						<select class="select2" name="property[category_id]" id="category_id" data-selected="<%= @property.category.id %>">
							<% @categories.each do |category| %>
								<option value="<%= category.id %>"><%= category.name %></option>
							<% end %>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Price</label><br />
						<input type="text" name="property[price]" id="price" class="form-control demo-control" data-demo="#demo-price" placeholder="in Rs." value="<%= to_currency(@property.price, 1) %>" />
					</div>
				</div>
				
				<div class="clearfix"></div>
			
				<div class="form-group">
					<div class="row">
						<div class="col-md-4">			
							<label>Area in Sq Mts:</label><br />
							<input type="text" name="property[area]" id="area" class="form-control demo-control" data-demo="#demo-area" value="<%= @property.area %>"/>	
						</div>
						
						
						<div class="col-md-4">
							<label>Area built (Sq Mts):</label><br />
							<input type="text" name="property[area_built]" id="area_built" class="form-control" value="<%= @property.area_built %>" />	
						</div>
						
						<div class="col-md-4">
							<label>Area rate</label><br />
							<input type="text" name="property[area_rate]" id="area_rate" class="form-control" value="<%= @property.area_rate %>" />	
						</div>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">
						<label>Status</label><br />
						<select class="select2" name="property[status]" id="status" data-selected="<%= @property.status %>">
							<option value="4">Not Applicable</option>
							<option value="1">Ready Possession</option>
							<option value="2">Under Construction</option>
							<option value="3">Re-Sale</option>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Age</label><br />
						<select class="select2" name="property[age]" id="age" data-selected="<%= @property.age %>">
							<option value="">Not Applicable</option>
							<option value="Less than 1 Year">Less than 1 Year</option>
							<option value="1 to 5 Years">1 to 5 Years</option>
							<option value="5 to 10 Years">5 to 10 Years</option>
							<option value="10 to 15 Years">10 to 15 Years</option>
							<option value="15 Years +">15 Years +</option>
						</select>
					</div>

					<div class="col-md-4">			
						<label>Brokerage Fee</label><br />
						<input type="text" name="property[brokerage]" id="brokerage" class="form-control" value="<%= @property.brokerage %>" />	
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">			
						<label>Bedrooms</label><br />
							<input type="text" name="property[bhk_count]" id="bhk_count" class="form-control" value="<%= @property.bhk_count %>" />	
					</div>
					
					<div class="col-md-4">
						<label>Toilets (Attached)</label><br />
						<input type="text" name="property[toil_attached]" id="toil_attached" class="form-control" value="<%= @property.toil_attached %>" />	
					</div>
					
					<div class="col-md-4">
						<label>Toilets (Non Attached)</label><br />
						<input type="text" name="property[toil_nattached]" id="toil_nattached" class="form-control" value="<%= @property.toil_nattached %>" />	
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">			
						<label>Furnishing</label>
						<select class="select2" name="property[furnishing]" id="furnishing" data-selected="<% @property.furnishing %>">
							<option value="">Not Applicable</option>
							<option value="Unfurnished">Unfurnished</option>
							<option value="Semi">Semi</option>
							<option value="Basic">Basic</option>
							<option value="Furnished">Furnished</option>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Water Supply</label><br />
						<!-- <input name="property[water]" id="water" type="hidden" value="<%= @property.water %>"> -->
						<select class="select2" name="property[water]" id="water" data-selected="<%= @property.water %>"> <!-- id="property_water" -->
							<option value="">Not Applicable</option>
							<option value="Well">Well</option>
							<option value="Bore-Well">Bore-Well</option>
							<option value="Municipality">Municipality</option>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Zone</label><br />
						<select class="select2" name="property[zone]" id="zone" data-selected="<%= @property.zone %>">
							<option value="">Not Applicable</option>
							<option value="Settlement">Settlement</option>
							<option value="Orchard">Orchard</option>
							<option value="Agriculture">Agriculture</option>
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">			
						<label>Floor</label><br />
						<input type="text" name="property[floor]" id="floor" class="form-control" value="<%= @property.floor %>" />	
					</div>
					
					<div class="col-md-4">
						<label>Lift</label><br />
						<select class="select2" name="property[lift]" id="lift" data-selected="<%= @property.lift %>">
							<option value="">Not Applicable</option>
							<option value="false">No</option>
							<option value="true">Yes</option>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Sanad</label><br />
						<select class="select2" name="property[sanad]" id="sanad" data-selected="<%= @property.sanad %>">
							<option value="">Not Applicable</option>
							<option value="false">No</option>
							<option value="true">Yes</option>
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">			
						<label>Electricity</label><br />
						<select class="select2" name="property[electricity]" id="electricity" data-selected="<%= @property.electricity %>">
							<option value="">Not Applicable</option>
							<option value="1 Phase">1 Phase</option>
							<option value="2 Phase">2 Phase</option>
							<option value="3 Phase">3 Phase</option>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>View</label><br />
						<input type="text" name="property[view]" id="view" class="form-control" value="<%= @property.view %>" />	
					</div>
					
					<div class="col-md-4">
						<label>FSI</label><br />
						<input type="text" name="property[fsi]" id="fsi" class="form-control" value="<%= @property.fsi %>" />	
					</div>
				</div>

				<div class="form-group">
					<label for="specs">Facilities</label>
					<input type="text" name="property[specs]" id="specs" class="form-control" placeholder="Parking Space, Swimming Pool, Field view, etc." value="<%= @property.specs %>" />	
				</div>

				<div class="form-group">
					<label for="specs">More Information</label>
					<textarea name="property[more_info]" id="more_info" class="form-control"><%= @property.more_info %></textarea>	
				</div>
						
				<div class="form-group">
					<label for="featured">Featured Image</label>
					<div class="file-input-wrap">
						<img src="/properties/images/<%= @featured_img %>" alt="" width="250">
						<input type="file" id="featured-img-picker" name="featured_img" class="file-picker file-inputs new-feature-file" data-demo="#demo-img" data-filename-placement="inside" title="Change Featured Image" />
					</div>
				</div>
				
				<div class="form-group">	
					<label>Gallery Images</label> (Drag images to re-order)
					<div class="file-input-wrap">
						<ul class="gallery-block">
							<div class="edit-gallery">
								<% @images.each do |image| %>
								<div id="<%= image.id %>">
									<input name="gallOrder[<%= image.id %>]" class="ord_<%= image.id %>" type="hidden" value="<%= image.order_id %>">
									<li class="col-md-4 gallery-item">
										<div class="img-wrap"><label for="checkbox">Delete?</label> <input type="checkbox" name="gallDels[<%= image.id %>]" />
											<img src="/properties/images/<%= image.url %>" alt="" width="200" /></div>
									</li>
								</div>	
								<% end %>
						</ul>
						<input type="file" name="gallUploads[]" title="+ Gallery Images" class="file-picker file-inputs new-file" data-filename-placement="inside"  multiple />
					</div>

					<!-- <div class="file-input-wrap">
						<ul class="gallery-block row">
						<%# @images.each do |image| %>
							<li class="gallery-item col-md-4">
									<div class="img-wrap">
										<img src="/properties/images/<%#= image.url %>" alt="" width="200" />
									</div>
									<label for="checkbox">Delete?</label>
									<input type="checkbox" name="gallDels[<%#= image.id %>]" />
							</li>
						<%# end %>
						</ul>
						
					</div> -->
				</div>

				<div class="form-group">
					<label for="layout">Layout Plan</label>
					<div class="file-input-wrap">
						<img src="/properties/images/plans/layout/<%= @property.layout_plan %>" alt="" width="250">
						<input type="file" id="layout-plan-picker" name="layout_plan" class="file-picker file-inputs new-file" data-filename-placement="inside" title="Change Layout Plan" />
					</div>
				</div>

				<div class="form-group">
					<label for="master">Master Plan</label>
					<div class="file-input-wrap">
						<img src="/properties/images/plans/master/<%= @property.master_plan %>" alt="" width="250">
						<input type="file" id="master-plan-picker" name="master_plan" class="file-picker file-inputs new-file" data-filename-placement="inside" title="Change Master Plan" />
					</div>
				</div>
				
				<div class="form-group">
					<label for="field_notes">Property Notes (Internal)</label>
					<textarea name="property[field_notes]" class="form-control" id="field_notes"><%= @property.field_notes %></textarea>
				</div>
				
				<div class="row form-group">
					<div class="col-md-4">
						<label for="is_active">Active?</label>
						<input type="checkbox" name="property[is_active]" id="is_active" <%= "checked" if @property.is_active %> />
					</div>
				</div>
		
				<div class="form-group">
						<input type="Submit" class="btn btn-primary btn-large submit-btn" value="Update Property">
						
						<button class="btn delete-btn btn-danger btn-large" data-resource-name="<%= @property.title.nil? ? "" : @property.title + " " + @property.type.name %><%= " in " + @property.location.name %><%= " for " + @property.state.name %>" data-resource-id="<%= @property.id %>" data-target=".delete-modal" data-type="property">
						  <span class="glyphicon glyphicon-remove"></span>  Delete Property
						</button>
				</div>
				
			</form>
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12 ">
			<h3>Live Preview</h3>
			<div id="demo-property">
				<ul>
					<li class="property-item <%= @property.location.name.downcase %> <%= @property.type.name.downcase %>" data-price="<%= @property.price %>" data-area="<%= @property.area %>"	data-date="<%= @property.updated_at %>">
						<div class="img-block">
							<a href="/property/<%= @property.id %>"><img src="/properties/images/<%= @featured_img %>" alt="" id="demo-img"/></a>
						</div>
						<div class="data-block">
							<h3 class="prop-title">
								<a href="/property/<%= @property.id %>">
									<%= "<span id='demo-title' class='prop-string'>#{@property.title}</span>" %>
									<%= "<span id='demo-type-name' class='prop-string'>#{@property.type.name}</span>" %> <br />
									<span class="smaller"><%= "in <span id='demo-location' class='prop-string'>#{@property.location.name}</span>" %></span> <br />
								</a>
							</h3> 
							<span id="demo-area" class='smaller prop-string'><%= @property.area %></span><span> Sq Mts</span>
							<div class="prop-price">
								<span id="demo-price" class="price sort-price">
									<%= to_currency(@property.price, @property.state_id) %>
								</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	

</div>
<%= erb :_modal %>