<div class="cover">
	<div id="search-bar">
		<form method="get" action="/search" id="search">
			<p id="select-buysell">
				I'd like to
				<span id="select-buysell-label" class="select-label" data-container="body" data-toggle="popover" data-content="<button class='popover-btn' data-elem='input-forbuy' data-value='for_buy'>Buy</button> <button data-value='for_sell'>SELL</button>">Buy</span>
				<input type="hidden" name="for_buy" value="for_buy" id="input-forbuy" />
			</p>
			
			<p id="select-type">a 
				<span id="select-buysell-label" class="select-label" data-container="body" data-toggle="popover" data-content="<h2>Buy</h2> | SELL">Commercial</span>
	
				<!--<select name="search[type_id]" id="type_id">			
				<% @types.each do |type| %>
					<option value="<%= type.id %>"><%= type.name %></option>
				<% end %>
			</select>--> property</p>
			
			<p id="select-region">in 
				<span id="select-buysell-label" class="select-label" data-container="body" data-toggle="popover" data-content="<h2>Buy</h2> | SELL">North Goa</span>
			<!--<select name="search[region_id]" id="region_id">
				<% @regions.each do |region| %>
					<option value="<%= region.id %>"><%= region.name %></option>
				<% end %>
			</select>--></p>
			<input type="submit" name="submit" id="find-prop" value="Find Properties" class="btn btn-large" />
		</form>
	</div>
</div>

<div class="container content">
	<%= erb :_properties_grid %>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3>Test</h3>
		</div>
		
		<div class="col-md-4">
			<h4>Services</h4>
		</div>
	</div>
</div>