<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3 class="title">Create A New Property</h3>
			<form role="form" action="/create" method="post" id="property" enctype="multipart/form-data">
				
				<div class="row form-group">
					<div class="col-md-4">
						<input type="text" name="property[title]" id="title" class="demo-control form-control" data-demo="#demo-title" placeholder='Eg. "Old Portuguese", "3BHK"' />	
					</div>
					
					<div class="col-md-8">					
							<select class="select2 type-select" data-demo="#demo-type-name" name="type[id]" id="type_id">
								<% @types.each do |type| %>
									<option value="<%= type.id %>"><%= type.name %></option>
								<% end %>
							</select>
							
							<span class="mid-select">in</span>
							
							<select class="select2 location-select" data-demo="#demo-location" name="location[id]" id="location_id">
							
								<% @locations.each do |location| %>
									<option value="<%= location.id %>"><%= location.name %></option>
								<% end %>
							</select>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row form-group">
					<div class="col-md-4">
						<label>Option</label>
						<select class="select2" data-demo="#demo-state" name="state[id]" id="state_id">
							<% @states.each do |state| %>
								<option value="<%= state.id %>"><%= state.name %></option>
							<% end %>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Property Type</label>
						<select class="select2" name="category[id]" id="category_id">
							<% @categories.each do |category| %>
								<option value="<%= category.id %>"><%= category.name %></option>
							<% end %>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Price</label><br />
						<input type="number" name="property[price]" id="price" class="form-control demo-control" data-demo="#demo-price" placeholder="in Rs." />
					</div>
				</div>
				
				<div class="clearfix"></div>
				
				<div class="form-group">
							
				</div>
						
				<div class="row form-group">
				
					<div class="col-md-4">			
						<label>Area in Sq Mts</label><br />
						<input type="number" name="property[area]" id="area" class="form-control demo-control" data-demo="#demo-area" />	
					</div>
					
					<div class="col-md-4">
						<label>Area built (Sq Mts)</label><br />
						<input type="number" name="property[area_built]" id="area_built" class="form-control" />	
					</div>
					
					<div class="col-md-4">
						<label>Area rate</label><br />
						<input type="number" name="property[area_rate]" id="area_rate" class="form-control" />	
					</div>
					
				</div>

				<div class="row form-group">
					<div class="col-md-4">
						<label>Status</label><br />
						<select class="select2" name="property[status]" id="status">
							<option value="4" selected="selected">Not Applicable</option>
							<option value="1">Ready Possession</option>
							<option value="2">Under Construction</option>
							<option value="3">Re-Sale</option>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Age</label><br />
						<select class="select2" name="property[age]" id="age">
							<option value="" selected="selected">Not Applicable</option>
							<option value="Less than 1 Year">Less than 1 Year</option>
							<option value="1 to 5 Years">1 to 5 Years</option>
							<option value="5 to 10 Years">5 to 10 Years</option>
							<option value="10 to 15 Years">10 to 15 Years</option>
							<option value="15 Years +">15 Years +</option>
						</select>
					</div>
				</div>
				
				<div class="row form-group">
					<div class="col-md-4">			
						<label>Bedrooms</label><br />
						<input type="number" name="property[bhk_count]" id="bhk_count" class="form-control" />	
					</div>
					
					<div class="col-md-4">
						<label>Toilets (Attached)</label><br />
						<input type="number" name="property[toil_attached]" id="toil_attached" class="form-control" />	
					</div>
					
					<div class="col-md-4">
						<label>Toilets (Non Attached)</label><br />
						<input type="number" name="property[toil_nattached]" id="toil_nattached" class="form-control" />	
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">			
						<label>Furnishing</label>
						<select class="select2" name="property[furnishing]" id="furnishing">
							<option value="">Not Applicable</option>
							<option value="Unfurnished">Unfurnished</option>
							<option value="Semi">Semi</option>
							<option value="Basic">Basic</option>
							<option value="Furnished">Furnished</option>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Water Supply</label><br />
						<select class="select2" name="property[water]" id="water">
							<option value="">Not Applicable</option>
							<option value="Well">Well</option>
							<option value="Bore-Well">Bore-Well</option>
							<option value="Municipality">Municipality</option>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Zone</label><br />
						<select class="select2" name="property[zone]" id="zone">
							<option value="">Not Applicable</option>
							<option value="Settlement">Settlement</option>
							<option value="Orchard">Orchard</option>
							<option value="Agriculture">Agriculture</option>
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">			
						<label>Floor</label><br />
						<input type="number" name="property[floor]" id="floor" class="form-control" />	
					</div>
					
					<div class="col-md-4">
						<label>Lift</label><br />
						<select class="select2" name="property[lift]" id="lift">
							<option value="">Not Applicable</option>
							<option value="false">No</option>
							<option value="true">Yes</option>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>Sanad</label><br />
						<select class="select2" name="property[sanad]" id="sanad">
							<option value="">Not Applicable</option>
							<option value="false">No</option>
							<option value="true">Yes</option>
						</select>
					</div>
				</div>

				<div class="row form-group">
					<div class="col-md-4">			
						<label>Electricity</label><br />
						<select class="select2" name="property[electricity]" id="electricity">
							<option value="">Not Applicable</option>
							<option value="1 Phase">1 Phase</option>
							<option value="2 Phase">2 Phase</option>
							<option value="3 Phase">3 Phase</option>
						</select>
					</div>
					
					<div class="col-md-4">
						<label>View</label><br />
						<input type="text" name="property[view]" id="view" class="form-control" />	
					</div>
					
					<div class="col-md-4">
						<label>FSI</label><br />
						<input type="text" name="property[fsi]" id="fsi" class="form-control" />	
					</div>
				</div>
				
				<div class="form-group">
					<label for="specs">Facilities</label>
					<input type="text" name="property[specs]" id="specs" class="form-control demo-control" data-demo="#demo-specs" placeholder="Parking Space, Swimming Pool, Field view, etc." value="" />	
				</div>

				<div class="form-group">
					<label for="specs">More Information</label>
					<textarea name="property[more_info]" id="more_info" class="form-control" rows="6"></textarea>	
				</div>
				
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label for="featured">Featured Image</label>
							<div class="file-input-wrap">
								<input type="file" id="featured-img-picker" name="featured" class="file-picker file-inputs new-feature-file" data-demo="#demo-img" data-filename-placement="inside" title="+ Featured Image" />
							</div>
						</div>
					</div>
						
					<div class="col-md-3">
						<div class="form-group">	
							<label>Gallery Images</label>		
							<div class="file-input-wrap">
								<input type="file" name="images[]" title="+ Gallery Images"  class="file-picker file-inputs new-file" data-filename-placement="inside"  multiple />
							</div>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="form-group">
							<label for="layout">Layout Plan</label>
							<div class="file-input-wrap">
								<input type="file" id="layout-plan-picker" name="layout_plan" class="file-picker file-inputs new-file" data-filename-placement="inside" title="Layout Plan" />
							</div>
						</div>
					</div>
					
					<div class="col-md-3">
						<div class="form-group">
							<label for="master">Master Plan</label>
							<div class="file-input-wrap">
								<input type="file" id="master-plan-picker" name="master_plan" class="file-picker file-inputs new-file" data-filename-placement="inside" title="Master Plan" />
							</div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="field_notes">Property Notes (Internal)</label>
					<textarea name="property[field_notes]" class="form-control" id="field_notes"></textarea>
				</div>
				
				<div class="row form-group">
					<div class="col-md-4">
						<label for="is_active">Active?</label>
						<input type="checkbox" name="property[is_active]" id="is_active" checked />
					</div>
					<div class="col-md-4">
						<label for="is_premium">Premium?</label>
						<input type="checkbox" name="property[is_premium]" id="is_premium" />
					</div>
				</div>
		
				<div class="form-group">
						<button id="submit" type="Submit" class="btn btn-primary btn-large submit-btn">Create New Property</button>
				</div>
				
			</form>
		</div>

		<div class="col-md-4 col-sm-6 col-xs-12 ">
			<h3>Live Preview</h3>
			<div id="demo-property">
				<ul>
					<li class="property-item">
						<div class="property-item-inner">
							<div class="img-block"><img src="/properties/images/prop2.jpg" alt="" id="demo-img"/>
							</div>
							<div class="data-block">
								<h3 class="prop-title">
										<%= "<span id='demo-title' class='prop-string'></span>" %>
										<%= "<span id='demo-type-name' class='prop-string'></span>" %> <br />
										<span class="smaller"><%= "in <span id='demo-location' class='prop-string'></span>" %></span> <br />
								</h3> 
								<span id="demo-area" class='smaller prop-string'> </span><span> Sq Mts</span>
								<div class="prop-price">
									<span id="demo-price" class="price sort-price"></span>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
	

</div>