<% if @property.featured_img %>
	<div class="property-image-grid">
		<div class="container">
				
					<div id="main-img" class="large img-block " data-stretch="/properties/images/<%= @property.featured_img %>">
						<a href="/properties/images/<%= @property.featured_img %>">
							<img src="/properties/images/<%= @property.featured_img %>" alt="" />
						</a>
					</div>
					<ul id="slide-wrap">
						<li class="hidden">
							<a href="/properties/images/<%= @property.featured_img %>">
								<img src="/properties/images/<%= @property.featured_img %>" alt="" />
							</a>
						</li>
						<% @image_grid.each do |image| %>
							<li class="small img-block" data-stretch="/properties/images/<%= image.url %>">
								<a href="/properties/images/<%= image.url %>">
									<img src="/properties/images/<%= image.url %>" alt="" />
								</a>
							</li>
						<% end %>
						<% @hidden_images.each do |image| %>
							<li class="hidden" data-large="/properties/images/<%= image.url %>">
								<a href="/properties/images/<%= image.url %>">
									<img src="/properties/images/<%= image.url %>" alt="" />
								</a>
							</li>
						<% end %>
						<% if !@images_count.nil? %>
							<li class="gallery-link">
								<button class="btn"><span class="glyphicon glyphicon-resize-full"></span><br /> <%= @images_count %></button>
							</li>
						<% end %>
					</ul>	
	
		</div>
	</div>
<% else %>
	<hr style="margin-bottom: 0;" />
<% end %>	

<div class="property-data">
	<div class="container">
		<div class="row">
			<div class="col-md-8 data-block">
				<h3 class="prop-title"><div></div>
					<a href="/property/<%= @property.id %>/<%= @property.slug %>">
						<span class='prop-string'><%= @property.title %> </span>
						<%= "<span class='prop-string'>#{@property.type.name}</span>" %>
						<%= "in <span class='prop-string'>#{@property.location.name}</span>" %>
						<%= "for <span class='prop-string'>#{@property.state.name}</span>" %>
					</a> <span class="prop-code">GPC <%= @property.id %></span>
				</h3>
				<p class="prop-area">
					<span class="label">Specs</span>
					<span class="unit-area"><%= @property.area %></span> <span class="unit-label">Sq Mts</span> 
					<% if !@property.specs.nil? %> 
						• <%= @property.specs %>
					<% end %>
				</p>
			</div>
			<div class="price-block">
				<span class="label">INR</span>
				<span class="prop-price">
					<span class="sort-price">

							<%= to_currency(@property.price, @property.state_id) %>
					</span>
				</span>
			</div>
		</div>
	</div>
</div>

<div class="container property-main">
	<div class="row">
		<div class="col-md-8 data-block prop-specs">			
			<ul class="clearfix row">
					<li class="col-md-4">
						<span class="label">Area</span>
						<div class="block"><span class="unit-area"><%= @property.area %></span> <span class="unit-label">Sq Mts</span></div>
					</li>
					<% if !@property.area_built.nil? %>
						<li class="col-md-4">
							<span class="label">Built Area</span>
							<div class="block"><span class="unit-area"><%= @property.area_built %></span> <span class="unit-label">Sq Mts</span></div>
						</li>
					<% end %>
					<li class="col-md-4">
						<button class="btn imperial" id="switch-unit"><span class="glyphicon glyphicon-refresh"></span> <span class="unit-label">Show in Sq. Ft.</span></button>
					</li>
					<li class="clearfix"></li>
					
					<li class="col-md-8">
						<span class="label">Location</span>
						<div class="block"><%= @property.location.name %></div>
					</li>
					
					<% if !@property.area_rate.nil? %>
						<li class="col-md-4">
							<span class="label">Area rate</span>
							<div class="block"><%= @property.area_rate %></div>
						</li>
					<% end %>
					<li class="clearfix"></li>

					<% if !@property.prop_status.nil? %>
						<li class="col-md-4">
							<span class="label">Status</span>
							<div class="block"><%= @property.prop_status %></div>
						</li>
					<% end %>
					
					<% if !@property.age.nil? %>
						<li class="col-md-4">
							<span class="label">Age</span>
							<div class="block"><%= @property.age %></div>
						</li>
					<% end %>

					<% if !@property.brokerage.nil? %>
						<li class="col-md-4">
							<span class="label">Brokerage Fee</span>
							<div class="block"><%= @property.brokerage %></div>
						</li>
					<% end %>
					
					<% if !@property.status.nil? || !@property.age.nil? || !@property.brokerage.nil? %>
						<li class="clearfix"></li>
					<% end %>

					<% if !@property.bhk_count.nil? %>
						<li class="col-md-4">
							<span class="label">Bedrooms</span>
							<div class="block"><%= @property.bhk_count %></div>
						</li>
					<% end %>
					
					<% if !@property.toil_attached.nil? %>
						<li class="col-md-4">
							<span class="label">Toilets Attached</span>
							<div class="block"><%= @property.toil_attached %></div>
						</li>
					<% end %>

					<% if !@property.toil_nattached.nil? %>
						<li class="col-md-4">
							<span class="label">Toilets Non-Attached</span>
							<div class="block"><%= @property.toil_nattached %></div>
						</li>
					<% end %>
					
					<% if !@property.bhk_count.nil? || !@property.toil_attached.nil? || !@property.toil_nattached.nil? %>
						<li class="clearfix"></li>
					<% end %>
					
					<% if !@property.floor.nil? %>
						<li class="col-md-4">
							<span class="label">Floor</span>
							<div class="block"><%= @property.floor %></div>
						</li>
					<% end %>
					
					<% if !@property.lift.nil? %>
						<li class="col-md-4">
							<span class="label">Lift Facility</span>
							<div class="block"><%= @property.lift == true ? "Yes" : "No" %></div>
						</li>
					<% end %>
					
					<% if !@property.floor.nil? || !@property.lift.nil? %>
						<li class="clearfix"></li>
					<% end %>
					
					<% if !@property.furnishing.nil? %>
						<li class="col-md-4">
							<span class="label">Furnishing</span>
							<div class="block"><%= @property.furnishing %></div>
						</li>
					<% end %>
					
					<% if !@property.water.nil? %>
						<li class="col-md-4">
							<span class="label">Water</span>
							<div class="block"><%= @property.water %></div>
						</li>
					<% end %>
					
					<% if !@property.electricity.nil? %>
						<li class="col-md-4">
							<span class="label">Electricity</span>
							<div class="block"><%= @property.electricity %></div>
						</li>
					<% end %>
					
						<% if !@property.furnishing.nil? || !@property.water.nil? || !@property.electricity.nil? %>
							<li class="clearfix"></li>
						<% end %>
					
					<% if !@property.zone.nil? %>
						<li class="col-md-3">
							<span class="label">Zone</span>
							<div class="block"><%= @property.zone %></div>
						</li>
					<% end %>
					
					<% if !@property.view.nil? %>
						<li class="col-md-3">
							<span class="label">View</span>
							<div class="block"><%= @property.view %></div>
						</li>
					<% end %>
					
					<% if !@property.fsi.nil? %>
						<li class="col-md-3">
							<span class="label">FSI</span>
							<div class="block"><%= @property.fsi %></div>
						</li>
					<% end %>
					
					<% if !@property.sanad.nil? %>
						<li class="col-md-3">
							<span class="label">Sanad</span>
							<div class="block"><%= @property.sanad == true ? "Yes" : "No" %></div>
						</li>
					<% end %>
					
					<% if !@property.zone.nil? || !@property.view.nil?  || 
						  !@property.fsi.nil? || !@property.sanad.nil?  %>
						<li class="clearfix"></li>				
					<% end %>


					<% if !@property.specs.nil? %>
						<li class="col-md-12">
							<span class="label">Facilities</span>
							<div class="block"><%= @property.specs %></div>
						</li>
						<li class="clearfix"></li>
					<% end %>
					
					<% if !@property.more_info.nil? %>
						<li class="col-md-12">
							<span class="label">More Information</span>
							<div class="block"><%= simple_format(@property.more_info) %></div>
						</li>
						<li class="clearfix"></li>	
					<% end %>
					
					<% if !@property.layout_plan.nil? %>
						<li class="col-md-12">
							<a target="_blank" href="/properties/images/plans/layout/<%= @property.layout_plan %>">Layout Plan</a>
						</li>
					<% end %>
					
					<% if !@property.layout_plan.nil?  %>
						<li class="clearfix"></li>				
					<% end %>

					<% if !@property.master_plan.nil? %>
						<li class="col-md-12">
							<a target="_blank" href="/properties/images/plans/master/<%= @property.master_plan %>">Master Plan</a>
						</li>
					<% end %>
					
					<% if !@property.master_plan.nil?  %>
						<li class="clearfix"></li>				
					<% end %>

				</ul>
		</div>
		
		<div class="col-md-4">
			<div class="inquiry-block">
				<h3>Interested? Let us show you around…</h3>
				<form method="post" action="/send-inquiry/inquiry">
					<div class="form-group">
						<label for="name" class="hidden">Your name</label>
						<input type="text" name="inquiry[name]" placeholder="Your name" value="" class="form-control" />
					</div>

					<div class="form-group">
						<label for="phone" class="hidden">Your phone</label>
						<input type="text" name="inquiry[phone]" placeholder="Your phone" value="" class="form-control" />
					</div>
					
					<div class="form-group">
						<label for="email" class="hidden">Your email</label>
						<input type="text" name="inquiry[email]" placeholder="Your email" value="" class="form-control" />
					</div>
					
					<div class="form-group">
						<textarea name="inquiry[body]" class="form-control">I'm interested in "<%= @property.title %> <%= @property.type.name %> in <%= @property.location.name %> for <%= @property.state.name %>" (Code: GPC<%= @property.id %>).</textarea>
					</div>
					<% if !@property.brokerage.nil?  %>
					<p class="text-center">Brokerage Fee: <%= @property.brokerage %></p>
					<% end %>
					<div class="form-group text-center">
						<input type="submit" name="submit" value="Send Inquiry" class="btn btn-large btn-primary" />
					</div>
				</form>
			</div>
			<div class="form-group email-friend-block text-center">
				<a href="#" class="email-btn" data-property-id="<%= @property.id %>">Email this to a friend</a> | <a href="#">Share via Facebook</a>
			</div>
		</div>	
	</div>
</div>


<div class="offwhite-block">
	<div class="container">
		<div class="content row">
			<% if @similar.count > 0 %>
				<div class="col-md-12">
					<h3 class="section-title dynamic-string">More <strong><%= @property.type.name %>s</strong> for <strong><%= @property.state.name %></strong> in <strong><%= @property.location.name %></strong></h3>
					<ul id="property-grid" class="row">
						<% @similar.each do |property| %>
							<%= erb :_property, :layout => false, :locals => {
								:property => property,  
								:cols => "col-md-4"} %>
						<% end %>
					</ul>
					<hr />
				</div>
			<% end %>
			
			
			<div id="search-bar" class="col-md-10 col-md-offset-1">
				<h3 class="section-title">Search Again</h3>
				<%= erb :_search_form %>
			</div>
		</div>
	</div>
</div>
<%= erb :_email_modal %>