<div class="container content">
	<div class="row property-main">
		<div class="col-md-8">
			<img src="/properties/images/<%= @property.featured_img %>" alt="" />
		</div>
		<div class="col-md-4">
			<h3 class="prop-title">
				<a href="/property/<%= @property.id %>">
					<span><%= @property.title %> </span>
					<%= @property.type %> 
					<%= "in " + @property.location %>
					<%= "for Sale" if @property.for_buy == true %>
					<%= "for Rent" if @property.for_rent == true %>
				</a>
			</h3>
			<ul class="clearfix">
				<li class="clearfix">
					<div class="block"><span class="label">Area</span></div>
					<div class="block">
						<%= @property.area_detail %> <span class="prop-area-built">(Built Area: <%= @property.area_built %>)</span>
					</div>
				</li>
				<li class="clearfix">
					<div class="block"><span class="label">Facilities</span> </div>
					<div class="block">Bathroom, 3BHK, Parking</div>
				</li>
			</ul>
			<span class="btn btn-large btn-primary">Send Inquiry</span>
		</div>
		
		<div class="clearfix"></div>
		
		<ul class="content gallery-block">
			<h3 class=" col-md-12 section-title">In Pictures</h3>
		<% @images.each do |image| %>
			<li class="gallery-item col-md-4">
				<img src="/properties/images/<%= image.url %>" alt="" width="200" />
			</li>
		<% end %>
		</ul>
				
	</div>
	<div class="content">
		<h3 class="section-title col-md-12">Recently Viewed / Similar Properties</h3>
		<%= erb :_properties_grid %>
	</div>
</div>
