<div id="sorting-bar">
	<div class="col-md-12 hidden-xs">
		<div id="results-statement">
			<span class="start-text">Showing</span> <%= erb :_search_form %>
		</div>
		<div class="sort-group">
			<span class="label">Options</span>
			<ul>
				<li>
					<a href="#" class="imperial" id="switch-unit"><span class="glyphicon glyphicon-refresh"></span> <span class="unit-label">Show in Sq. Ft.</span></a>
				</li>
			</ul>
		</div>
		<div class="sort-group">
			<span class="label">Sort by</span>
			<ul id="sort-filter">
				<li class="active" data-sort-value="date"><a href="#">Newest</a> <span class="glyphicon glyphicon-ok-sign"></span></li>
				<li data-sort-value="price"><a href="#">Price</a> <span class="glyphicon glyphicon-chevron-up"></span></li>
				<li data-sort-value="area"><a href="#">Area</a> <span class="glyphicon glyphicon-chevron-down"></span></li>
			</ul>
		</div>
	</div>
</div>

<div class="clearfix"></div>
<div id="grid-wrap">
	<div class="container-fluid" id="results-container">
		<div class="visible-xs text-center">
			<button id="show-filters-btn" class="btn btn-primary btn-checkbox">Show Filters</button>
		</div>
		<div class="row">
			<div class="col-md-2 col-sm-3 filters hidden-xs" id="filters">
				<h3 class="visible-xs text-center">Filters <button id="close-filters" class="btn btn-checkbox btn-primary">X</span></h3>
				<span class="label">Property Types</span>
				<ul class="list-group filter-group" id="type-filter" data-filter-group="type">
					<li class="list-group-item active show-all">
						<span class="badge"><%= @properties.count %></span>
						<a href="#" data-filter="">All</a>
					</li>
					<% @types.each do |type| %>
						<li class="list-group-item <%= type.classlist(@state.id, @category.id, @location_ids) %>">
							<a href="#" data-filter=".<%= type.name.downcase.gsub(" ", "-") %>"><%= type.name %>s</a>
						</li>
					<% end %>
				</ul>
				
				<ul class="list-group filter-group" id="is-premium-filter" data-filter-group="is-premium">
					<li class="list-group-item">						
						<a href="#" data-filter=".is-premium"><span class="glyphicon glyphicon-star"></span> Premium Only</a>
						<span id="cancel-premium"><a href="#" data-filter="*"><span class="glyphicon glyphicon-remove"></span></a></span>
					</li>
				</ul>
				
				
				
				<% if @category.id == 3 %> <!-- Property is Land type -->
					<span class="label">Zone</span>
					<ul class="list-group filter-group" id="zone-filter" data-filter-group="zone">
						<li class="list-group-item active">
							<span class="badge"><%= @properties.count %></span>
							<a href="#" data-filter="">All</a>
						</li>
							<li class="list-group-item"><a href="#" data-filter=".settlement">Settlement</a></li>
							<li class="list-group-item"><a href="#" data-filter=".orchard">Orchard</a></li>
							<li class="list-group-item"><a href="#" data-filter=".agriculture">Agriculture</a></li>
					</ul>
					
				<% else %> <!-- Property is Residential or Commercial -->
				
					<ul class="list-group filter-group" id="status-filter" data-filter-group="status">
						<span class="label">Status</span>
						<li class="list-group-item active show-all">
							<a href="#" data-filter="">All</a>
						</li>
						<li class="list-group-item">
							<a href="#" data-filter=".ready-possession">Ready Possession</a>
						</li>
						<li class="list-group-item">
							<a href="#" data-filter=".re-sale">Re-sale</a>
						</li>
						<li class="list-group-item">
							<a href="#" data-filter=".under-contruction">Under Construction</a>
						</li>
					</ul>
					
					<span class="label">Specs (BHK)</span>
					<div class="clearfix"></div>
					<ul class="pagination filter-group" id="bhk-filter" data-filter-group="bhk">
						<li class="active show-all"><a href="#" data-filter="">All</a></li>
						<li><a href="#" data-filter=".bhk-1">1</a></li>
					    <li><a href="#" data-filter=".bhk-2">2</a></li>
					    <li><a href="#" data-filter=".bhk-3">3</a></li>
					    <li><a href="#" data-filter=".property-item:not(.bhk-3, .bhk-2, .bhk-1, .bhk-)">4+ BHK</a></li>
					</ul>
				<% end %>
				<div class="clearfix"></div>
						
				<span class="label">In Locations</span>
				<ul class="list-group filter-group" id="location-filter" data-filter-group="location">
					<li class="list-group-item active show-all"> 
						<a href="#" data-filter="">All Locations</a>
					</li>
					<% @locations.each do |location| %>
						<li class="list-group-item <%= location.classlist(@state.id, @category.id) %>">
							<a href="#" data-filter=".<%= location.name.downcase %>"><%= location.name %></a>
						</li>
					<% end %>
				</ul>

				
				<div class="clearfix"></div>
				
				<ul class="list-group" id="reset-filters">
					<li class="list-group-item"><a href="#" data-filter="">Reset Filters</a></li>
				</ul>
				
				
				
			</div>
			<div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3">
				
				<%= erb :_properties_grid %>
			
			</div>
		</div>
	</div>
</div>