<div class="grid-wrap">
	<div class="container">
		<div class="row">
			<div id="search-bar" class="col-md-10 col-md-offset-1">
				<%= erb :_search_form %>
			</div>
		</div>
	</div>
	
	<div class="container-fluid" id="results-container">
		<div class="row">
			<div class="col-md-2 col-sm-3 hidden-xs filters" id="filters">
				<span class="label">Type</span>
				<ul class="list-group filter-group" id="type-filter" data-filter-group="type">
					<li class="list-group-item active">
						<span class="badge"><%= @properties.count %></span>
						<a href="#" data-filter="">All</a>
					</li>
					<% @types.each do |type| %>
						<li class="list-group-item <% type.propertys(:state_id => @state.id, :category_id => @category.id, :location_id => @location_ids).each do |pr| %>
							<%= pr.location.name.downcase %>
						<% end %>">
							<span class="badge">
								<%= type.propertys(:state_id => @state.id, :category_id => @category.id, :location_id => @location_ids).count %>
							</span>
							<a href="#" data-filter=".<%= type.name.downcase.gsub(" ", "-") %>"><%= type.name %></a>
						</li>
					<% end %>
				</ul>
						
				<span class="label">Locations</span>
				<ul class="list-group filter-group" id="location-filter" data-filter-group="location">
					<li class="list-group-item active">
						<span class="badge"><%= @properties.count %></span>
						<a href="#" data-filter="">All</a>
					</li>
					<% @locations.each do |location| %>
						<li class="list-group-item <% location.propertys(:state_id => @state.id, :category_id => @category.id).each do |pr| %>
							<%= pr.type.name.downcase %>
						<% end %>">
							<span class="badge"><%= location.propertys(:state_id => @state.id, :category_id => @category.id).count %></span>
							<a href="#" data-filter=".<%= location.name.downcase %>"><%= location.name %></a>
						</li>
					<% end %>
				</ul>

				<% if @category.id == 3 %>
					<span class="label">Zone</span>
					<ul class="list-group filter-group" id="zone-filter" data-filter-group="zone">
						<li class="list-group-item active">
							<span class="badge"><%= @properties.count %></span>
							<a href="#" data-filter="">All</a>
						</li>
							<li class="list-group-item"><a href="#" data-filter=".settlement">Settlement</a></li>
							<li class="list-group-item"><a href="#" data-filter=".orchard">Orchard</a></li>
							<li class="list-group-item"><a href="#" data-filter=".agriculture">Agriculture</a></li>
					</ul>
				<% else %>
					<span class="label">Specs (BHK)</span>
					<div class="clearfix"></div>
					<ul class="pagination filter-group" id="bhk-filter" data-filter-group="bhk">
						<li class="active"><a href="#" data-filter="">All</a></li>
						<li><a href="#" data-filter=".bhk-1">1</a></li>
					    <li><a href="#" data-filter=".bhk-2">2</a></li>
					    <li><a href="#" data-filter=".bhk-3">3</a></li>
					    <li><a href="#" data-filter=".property-item:not(.bhk-3, .bhk-2, .bhk-1, .bhk-)">4+ BHK</a></li>
					</ul>
				<% end %>
				<div class="clearfix"></div>
				
				<span class="label">Sort by</span>
				<ul class="list-group" id="sort-filter">
					<li class="list-group-item active" data-sort-value="date"><a href="#">Newest</a> <span class="glyphicon glyphicon-ok-sign"></span></li>
					<li class="list-group-item" data-sort-value="price"><a href="#">Price</a> <span class="glyphicon glyphicon-chevron-up"></span></li>
					<li class="list-group-item" data-sort-value="area"><a href="#">Area</a> <span class="glyphicon glyphicon-chevron-down"></span></li>
				</ul>
				
				<span class="label">Units</span><br />
				<ul class="list-group">
					<li class="list-group-item">
						<a href="#" class="btn imperial" id="switch-unit"><span class="glyphicon glyphicon-refresh"></span> <span class="unit-label">Show in Sq. Ft.</span></a>
					</li>
				</ul>
				
			</div>
			<div class="col-md-10 col-md-offset-2 col-sm-9 col-sm-offset-3">
				
				<%= erb :_properties_grid %>
			
			</div>
		</div>
	</div>
</div>